extends layout

block content
  h2 #{title}
  form(action='/login', method='POST')
    div
      label(for='email') Correo Electronico:
      input.signika-negative-font(type='email', name='email', id='email', required)
    div
      label(for='password') Contraseña:
      input.signika-negative-font(type='password', name='password', id='password', required)
    div
      button.signika-negative-font(type='submit' class='boton') Iniciar sesión
  .parrafo-caja  
    p ¿No tienes una cuenta? 
        a.signika-negative-font(href='/register', id='abrirModal' class="RegistroBtn") Registrar