extends layout

block content
  .parrafo-caja
    h2 Registrarse
    form(action='/registrar-usuario', method='POST')

      label(for='nombre') Nombre:
      input.signika-negative-font(type='text', name='nombre', id='nombre', required)

      label(for='email') Correo Electrónico:
      input.signika-negative-font(type='email', name='email', id='email', required)

      label(for='password') Contraseña:
      input.signika-negative-font(type='password', name='password', id='password', required)

      label(for='confirmPassword') Confirmar Contraseña:
      input.signika-negative-font(type='password', name='confirmPassword', id='confirmPassword', required)

      button.signika-negative-font(type='submit' class='boton') Registrarse
    .parrafo-caja
      p ¿Ya tienes una cuenta? 
        a.signika-negative-font(href='/login', id='loginBtn' class="LoginBtn") Iniciar Sesión
